.errorMessage {
	color: #f00;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
}

.errorBanner {
	color: #fff;
	position: absolute;
	top: 25%;
	width: 100%;
	text-align: center;
	font-size: 20px;
}