.season {
	display: flex;
	flex-direction: column;
	padding: 10px 50px;
}

.videos {
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

.episodeContainer {
	display: inline-flex;
	justify-content: center;
	margin-right: 4px;
}

.episodeContainer .contents {
	display: flex;
	flex-direction: column;
	width: 230px;
}

.episodeContainer img {
	width: 230px;
	height: 129px;
	object-fit: cover;
}

.episodeContainer .videoInfo h4,
.episodeContainer .videoInfo span {
	color: #fff;
	width: 100%;
	white-space: normal;
}

.episodeContainer .videoInfo {
	max-height: 200px;
	overflow-y: auto;
}
